.dropdown-login {
	background-color: #eee !important;
	min-width: 280px !important;
	border-top: solid 4px #28364f !important;
	border-bottom: solid 4px #28364f !important;
	padding: 20px;
}

.form-control:focus {
	box-shadow: none;
	border-color: #28364f;
}

.input-group-addon {
	border-radius: 0;
}

.weekend {
	color: #F99;
}

.dot {
	height: 7px;
	width: 7px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.holiday {
	color: #f33;
	cursor: pointer;
}

.ordinary {
	cursor: pointer;
}

.note_red,
.note_blue {
	position: relative;
	cursor: pointer;
}

.note_red:after,
.note_blue:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	display: block;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.note_red:after {
	border-top: 10px solid #F00;
}

.note_blue:after {
	border-top: 10px solid #00F;
}